/* Styles specific to the free-trial.html page */
p{
    font-size:18px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    font-family: sans-serif
    
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    font-weight:400;
}